@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.App {
  overflow-x: hidden;
  height: 100vh;
  overflow-y: hidden;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10.2vh;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: hidden;

  /* border: 1px solid black; */
}

.app__headerLeft {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.app__headerMiddle {
  font-family: "Open Sans", sans-serif;
  color: #1967d2;
}
.app__addedLine {
  height: 1.5vh;
  background-color: #d8d8d8;
}
.app__headerRight {
  margin-right: 30px;
}
.app__headerLeftIcon {
  margin-top: 7px;
}
.app__headerLeftText {
  margin-left: 15px;
  font-weight: 90;
}
.app__headerMiddleContainer {
  height: 40px;
  width: 150px;
  background-color: #e8f0fe;
  border-radius: 90px;
  text-align: center;
  padding-top: 2px;
  margin-top: 2px;
}
.app__headerMiddleText {
  margin-top: 7px;
  font-weight: 90;
}

.app__input {
  flex: 0.55;
}
.app__problem {
  flex: 0.5;
  padding: 60px;
  overflow-y: scroll;
  height: 79.8vh;
}
.app__main {
  display: flex;
  position: fixed;
  overflow-x: hidden;
}
.app__main::-webkit-scrollbar {
  display: none;
}
.app__problemPar {
  font-size: 28px;
  margin-bottom: 10px;
  margin-left: 8px;
}

.app__problemtext1 {
  font-size: 18px;
  font-weight: 400;
}

.app__problemtext2 {
  font-size: 13px;
  margin-top: 20px;
  color: #79758b;
  margin-left: 30px;
}

.app__problemTable {
  margin-top: 50px;
}

.app__problemTableText {
  margin-bottom: 5px;
  font-weight: 400;
}

.table__container {
  height: 300px;
  overflow-y: scroll;
  width: 100%;
  display: flex;
}
.app__Table {
  width: 100%;
}

tr {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
}
td {
  margin-left: 20px;
}
.app__attempt {
  color: #87758f;
}
.app__level {
  color: #87758f;
}
.app__WA {
  color: #da5a4f;
}
.app__problemTime {
  color: #5a2164;
  margin-right: 10px;
}
.app__problemTime {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__submission {
  display: flex;
  align-items: center;
}
.app__problemIcon {
  font-size: 20px;
  color: gray;
}
.app__lastUpdate {
  margin-top: 20px;
}
.app__lastUpdateText {
  color: #a2978f;
  font-size: 13px;
  font-weight: 400;
}
.app__ProblemStartIntro {
  margin-top: 30px;
}
.app__ProblemStartPar {
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 13px;
}

.app__IntroImage {
  width: 40vw;
}
.app__problemContributorsImg {
  width: 40vw;
}
.app__problemProjectsImg {
  width: 35vw;
}
.app__ProblemStartTextPar {
  margin-top: 17px;
}
.app__problemExample {
  border: 1px solid black;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 10px;
}
.app__examplePar {
  margin-bottom: 15px;
}

ul.outside {
  list-style-type: disc;
  list-style-position: inside;
}
li {
  margin-top: 10px;
}
.app__textBold {
  font-weight: bold;
}
.app__problemBold {
  font-weight: bold;
}

.app__ProjectsSpecialIcon {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 15px;
}
.check {
  color: #0078d7;
  font-size: 25px;
  margin-right: 10px;
}
.app__projectsMoveRight {
  display: flex;
  align-items: center;
}
.app__warning {
  font-size: 25px;
  padding-top: 3px;
  margin-right: 3px;
}
.app__aligning {
  display: flex;
}
.app__projectsMoveRight {
  margin-left: 30px;
  margin-bottom: 8px;
}
.app__InputDataPar {
  font-size: 20px;
}
.app__problemInputDataTop {
  border: 1px solid #cccccc;
  height: 40px;
}
.app__problemInputDataTop > p {
  margin-top: 5px;
  margin-left: 20px;
}
.app__problemInputDataBottom {
  border: 1px solid #cccccc;
  padding: 20px;
  color: #1967d9;
  font-weight: 500;
  background-color: #f5f5f5;
}
.app__DataSets {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.app__DataSets > p {
  margin-left: 20px;
}
.secondOutside {
  margin-left: 20px;
}
.app__problemExampleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}
.app__ExampleInputFile {
  display: flex;
  flex-direction: column;
}
.app__ExampleDescription {
  display: flex;
  flex-direction: column;
}
.app__ExampleTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}
.app__problemDescriptionExample {
  width: 100%;
}
.app__Imagesize {
  width: 40vw;
}
.app__textContainer {
  border: 1px solid black;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.app__input {
  height: 79.8vh;
  background-color: #141621;
  overflow-y: scroll;
  color: white;
  padding: 30px;
}
.app__SourceTitle {
  font-weight: bold;
  margin-bottom: 7px;
}
.app__SourceDesc {
  margin-bottom: 40px;
}
.app__tobold {
  font-weight: bold;
}
.app__SourceCode {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
hr {
  margin-left: -10px;
}
.app__tip {
  margin-top: 20px;
}
.app__button {
  background-color: #1967d2;
  color: white;
  width: 250px;
  height: 38px;
  text-align: center;
  font-weight: bold;
  border-radius: 7px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.app__button > p {
  padding-top: 6px;
}
.app__SUbmitAttempt {
  float: right;
}
.app__SubmitAttemptButton {
  background-color: #1967d2;
  color: white;
  width: 175px;
  height: 38px;
  text-align: center;
  font-weight: bold;
  border-radius: 7px;
  margin-left: 70%;
}
.app__SubmitAttemptButton > p {
  padding-top: 6px;
}
.app__file::-webkit-file-upload-button {
  visibility: hidden;
}
.app__file::before {
  content: "Choose file";
  display: inline-block;
  /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
  /* border-radius: 3px; */
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  /* -webkit-user-select: none; */
  cursor: pointer;
  /* text-shadow: 1px 1px #fff; */
  font-weight: 700;
  font-size: 10pt;
}
.app__file:hover::before {
  border-color: black;
}
.app__file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.app__fileUpload {
  display: flex;
  align-items: center;
  width: 100px;
}
.app__input1Par {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app__SlideButton {
  position: absolute;
  z-index: 10;
  left: 45.76vw;
  top: 50%;
  cursor: pointer;
}
.app__SiderButtonContainer {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  height: 40px;
  width: 40px;
  background-color: #1967d2;
  margin-right: 80px;
  padding-top: 10px;
  padding-left: 20px;
}
.app__SlideButtonIcon {
  color: white;
  font-size: 27px;
}
.app__SlideButton2 {
  position: absolute;
  z-index: 10;
  width: 100px;
  right: 0;
  top: 50%;
  width: 100px;
  cursor: pointer;
  overflow-x: hidden;
}
.app__hidingInputs {
  display: none;
}

.app__problemGrow {
  flex-grow: 1 !important;
}

.app__SiderButtonContainer2 {
  width: 100px;
}

@media screen and (max-width: 845px) {
  .app__input {
    display: none;
  }
  .app__Inputgrowing {
    display: inline !important;
  }
  .app__Inputgrowing > .app__input {
    display: inline-block;
  }
  .app__problem {
    flex-grow: 1 !important;
  }
  .app__SlideButton {
    display: none;
  }
  .app__SlideButton2 {
    display: none;
  }
  .app__SwitchButton {
    display: inline !important;
  }
}
@media screen and (max-width: 736px) {
  .app__headerMiddle {
    display: none;
  }
}

.app__SwitchButton {
  position: absolute;
  z-index: 10;
  right: 90px;
  top: 15vh;
  cursor: pointer;
  display: none;
  width: 160px;
}
.app__SwitchButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #1967d2;
  border-radius: 20px;
  color: white;
}
.app__SwitchButtonIcon {
  margin-right: 10px;
  margin-left: 10px;
}
.app__SwitchButtonContainer > p {
  margin-right: 7px;
}
