body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
}
.app__headerMiddle {
  margin-right: 150px;
}

.app__problemSubmition {
  margin-top: 40px;
}
.app__problemIcon {
  margin-right: 10px;
  color: black;
  margin-left: 10px;
}
.app__ProblemStartPar {
  margin-top: 20px;
  margin-bottom: 20px;
}
